.grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "navbar navbar navbar"
      "searchbar searchbar searchbar"
      "result result history";
    gap: 0.5rem;
  }

  .grid .nav {
    grid-area: navbar;
    font-size: x-large;
    font-weight: lighter;
    color: rgba(var(--nav-text-colour), 0.8);
    background-color: rgb(var(--nav-background-colour));
    box-shadow: var(--nav-boxshadow);
  }
  
  .grid .searchbar {
    grid-area: searchbar;
    background-color: rgb(var(--search-background-colour));
    margin-top: var(--margin-separator-top);
  }
  
  .grid .result {
    /* grid-area: result; */
    grid-column: 1/3;
    grid-row: 3/3;
    justify-self: center;
    margin-top: var(--margin-separator-top);
  }
  
  .grid .history {
    grid-area: history;
    margin-top: var(--margin-separator-top);
    justify-self: flex-end;
  }