.grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "navbar navbar navbar"
      "left searchbar right"
      "left result history";
    column-gap: 0.5rem;
  }

  .grid .title {
    grid-column: 2/2;
    grid-row: 1/1;
    cursor: default;
    align-self: center;
    justify-self: center;
    z-index: 1;
  }
  
  .grid .title, .grid .nav {
    font-size: x-large;
    font-weight: lighter;
    color: rgba(var(--nav-text-colour), 0.8);
  }
  
  .grid .nav {
    grid-area: navbar;
    background-color: rgb(var(--nav-background-colour));
    box-shadow: var(--nav-boxshadow);
  }
  
  .grid .searchbar {
    grid-area: searchbar;
    background-color: rgb(var(--search-background-colour));
    margin-top: var(--margin-separator-top);
  }
  
  .grid .result {
    grid-area: result;
    justify-self: center;
    margin-top: var(--margin-separator-top);
    /* height: fit-content; */

    /* display: flex; */
    /* justify-content: flex-end; */

  }
  
  .grid .history {
    grid-area: history;
    margin-top: var(--margin-separator-top);
    justify-self: flex-end;
  }