.grid {
    display: grid;
    /* grid-template-columns: 1fr auto minmax(10rem, 1fr); */
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "navbar navbar navbar"
      "search search search"
      "empty results history";
    gap: 0 1rem;
  }

  .grid .nav {
    grid-area: navbar;
    font-size: x-large;
    font-weight: lighter;
    color: rgba(var(--nav-text-colour), 0.8);
    background-color: rgb(var(--nav-background-colour));
    box-shadow: var(--nav-boxshadow);
  }
  
  .grid .searchbar {
    grid-area: search;
    background-color: rgb(var(--search-background-colour));
    margin-top: calc(var(--margin-separator) / 2);
    margin-bottom: calc(var(--margin-separator) / 2);
  }

  .grid .result {
    grid-area: results;
  }
  
  .grid .history {
    grid-area: history;
    display: flex;
    justify-content: flex-end;
  }