.container {
    /* colour */
    color: rgb(var(--results-and-history-text-colour));
    background-color: rgb(var(--results-and-history-background-colour));

    /* shape */
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    /* min-width: 2rem; */
    max-width: 22rem;

    /* position */
    margin-top: 1rem;

    /* children: flex */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container p {
    /* colour */
    color: rgb(var(--results-and-history-banner-colour));
    background: var(--results-and-history-banner-background);
    box-shadow: var(--results-and-history-banner-boxshadow);

    /* positioning */
    position: relative;
    width: 50%;
    top: -1rem;
    margin-top: 0px;
    margin-bottom: 0px;

    /* shape */
    border-radius: 3px;

    /* text */
    text-align: center;
    line-height: 3rem;
    font-size: large;

    /* cursor */
    cursor: default;
}

.container ul {
    /* remove ugly dot points */
    list-style: none;

    /* remove default list margins & padding */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;

    /* size */
    height: 2.5rem;
    width: 100%;

    /* children: flex */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.container ul:hover {
    box-shadow: var(--hover-box-shadow);
}

.container li.domainName {
    /* size */
    margin-left: 1rem;

    /* text behaviour */
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

/* string next to rubbish bin, i.e., "clear" */
.container ul:last-child li:first-child {
    cursor: default;
}

/* icon SVGs */
.container svg {
    /* size */
    --iconSize: 1.5rem;
    width: var(--iconSize);
    height: var(--iconSize);

    /* colour */
    fill: rgb(var(--results-and-history-text-colour));

    /* don't override parent <a> */
    pointer-events: none;
}

/* icons */
.container ul span {
    /* vertically center the clickable SVG */
    display: flex;

    /* position */
    margin-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    cursor: pointer;
}

