.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.container svg {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
}

.container div {
    margin-right: 1rem;
    cursor: pointer;
}

