@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,800&display=swap');

:root {
  /* colour theme */
  --colour-white: 204, 204, 202;
  --colour-light: 61, 138, 185;
  --colour-lightdark: 46, 101, 135;
  --colour-dark: 20, 44, 63;
  --colour-good: 139, 173, 139;
  --colour-bad: 183, 81, 95;
  --colour-black: 0, 0, 0;

  /* change app colours from here */
  /**/
  /* nav */
  --nav-background-colour: var(--colour-lightdark);
  --nav-text-colour: var(--colour-white);
  
  /* main */
  --major-background-colour: var(--colour-dark);

  /* search bar */
  --search-background-colour: var(--major-background-colour);
  --searchbar-background-colour: var(--colour-white);
  --searchbar-text-colour: var(--colour-dark);
  --searchbar-text-colour-active: var(--colour-dark);

  /* results and history */
  --results-and-history-background-colour: var(--colour-white);
  --results-and-history-text-colour: var(--colour-dark);

  /* banners */
  --results-and-history-banner-colour: var(--colour-white);
  --results-and-history-banner-boxshadow: 0px 0.5rem 18px 0px rgba(var(--colour-black), 0.7);
  --results-and-history-banner-background: 
  linear-gradient(to bottom,
      rgb(var(--colour-lightdark)),
      rgb(var(--colour-lightdark))
      );
      
  /* result entries */
  --results-text-good-colour: var(--colour-black);
  --results-text-bad-colour: var(--colour-black);
  
  /* box shadows */
  --hover-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  --nav-boxshadow: 0px 0px 15px 3px rgba(var(--colour-black), 0.8);
  
  --margin-separator: 7vh;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(var(--major-background-colour));
}

* {
  box-sizing: border-box;
}

.animateHeartbeat {
  animation: heartbeat 0.8s;
  backface-visibility: hidden;
}

@keyframes heartbeat {
  25%, 75% {
    scale: 1.1;
  }
  
  50%, 100% {
    scale: 1;
  }
}